@model CarRental

@{
    ViewData["Title"] = "Usuń wynajem";
}

<form method="post" asp-action="Delete">
    <input asp-for="CarRentalId" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Usuń wynajęcie</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="RentFrom"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="RentFrom" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="RentTo"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="RentTo" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="RentalId"></label>
                    </div>
                    <div class="col-8">
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.RentalId, new SelectList(ViewBag.ListOfRentals, "RentalId", "CustomerName"), new { @class = "form-control", @disabled = true })
                            @Html.ValidationMessageFor(m => m.RentalId)
                        </div>
                        <span asp-validation-for="RentalId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CarId"></label>
                    </div>
                    <div class="col-8">
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.CarId, new SelectList(ViewBag.ListOfCars, "CarId", "Name"), new { @class = "form-control", @disabled = true })
                            @Html.ValidationMessageFor(m => m.CarId)
                        </div>
                        <span asp-validation-for="CarId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-danger w-100" value="Usuń" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-info w-100">
                                Powrót
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>
</form>
